.rotateRight {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
  -moz-transform: rotate(180deg); /* Firefox */

  /* if you want to do this move with animate use transition */
  transition: .5s;
  -moz-transition: .5s; /* Firefox 4 */
  -webkit-transition: .5s; /* Safari and Chrome */
  -o-transition: .5s; /* Opera */
}
.rotateLeft {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Safari and Chrome */
  -o-transform: rotate(0deg); /* Opera */
  -moz-transform: rotate(0deg); /* Firefox */

  /* if you want to do this move with animate use transition */
  transition: .5s;
  -moz-transition: .5s; /* Firefox 4 */
  -webkit-transition: .5s; /* Safari and Chrome */
  -o-transition: .5s; /* Opera */
}

body{
    background: #696565;
    color:white;
    font-family: Consolas;
    font-size:17px;
}

.upload_paste{
    width:33%;
    position: relative;
    left:33%
}

#chartdiv {
	width	: 100%;
	height	: 500px;
}

.footer{
    background: black;
    bottom:0px;
    height:8%;
    width:100%;
    color: #82d1f3;
    text-align: center;
    font-size:22px;
}
