<!DOCTYPE html>
<html>
<head>
   <title>Phishing Filter</title>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
   <link href="/static/css/common.css" rel="stylesheet">

   <script src="/static/js/jquery.js"></script>
   <script src="/static/bootstrap/js/bootstrap.js"></script>
   <script src="/static/js/common.js"></script>

   <script src="/static/amcharts/amcharts.js"></script>
   <script src="/static/amcharts/serial.js"></script>
   <script src="/static/amcharts/themes/light.js"></script>

   <script src = '/static/js/am.js'></script>


</head>
<body>

      <h1>Hello, world!</h1>

	  <div id = 'chartdiv'></div>

	  
</body>
</html>
